{% extends "account/base.html" %}
{% load i18n static %}
{% load account socialaccount %}

{% block inner %}


  <!-- ===== SignUp Form Start ===== -->
  <section class="i pg fh rm ki xn vq gj qp gr hj rp hr w-[90vw]">

    {% include "utils/_background_shape.html" %}

    <div class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp">
      <!-- Bg Border -->
      <span class="rc h r s zd/2 od zg gh"></span>
      <span class="rc h r q zd/2 od xg mh"></span>
      
      <div class="rj mb-0">
        <p>{% trans "Welcome to our platform" %}</p>

        <h3 class="hk yj kk wm ob mc">
          {% trans "Join with Google" %}
        </h3>
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        {% comment %} 
          <p>
            {% blocktrans with site.name as site_name %}
            Please join us with one of your existing Google accounts. Or, 
            <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:
            {% endblocktrans %}
          </p>
        {% endcomment %}

        <div class="socialaccount_ballot flex items-center justify-center flex-grow">
          <ul class="tc wf xf mg ec">
            {% for provider in socialaccount_providers %}
            <li>
              <a class="tc wf xf be dd di sg _g ch qm ml il bm rl/40 ym/40 " href="{% provider_login_url provider.id %}">
                {% if provider.id == "google" %}
                  {% include "forms/sections/_google_svg.html" %}
                  {% else %}
                  {{ provider.name }}
                {% endif %}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
        <p>
          <span class="i rc sj hk xj">
            <span class="rc h s z/2 nd oe rh tm"></span>
            <span class="rc h q z/2 nd oe rh tm"></span>
  
            {% trans "Or, sign up with your email" %}
          </span>
        </p>
        {% endif %}
      </div>
      {% include "forms/_sign_up_form.html" %}
    </div>
  </section>
  <!-- ===== SignUp Form End ===== -->


{% endblock %}

