
<form class="sb" action="#" method="POST">
    <div class="wb">
      <label class="rc kk wm vb" for="fullname">Full name</label>
      <input
        type="text"
        name="fullname"
        id="fullname"
        placeholder="Devid Wonder"
        class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
      />
    </div>

    <div class="wb">
      <label class="rc kk wm vb" for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="example@gmail.com"
        class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
      />
    </div>

    <div class="wb">
      <label class="rc kk wm vb" for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="**************"
        class="vd hh rg zk _g ch hm dm fm pl/50 xi mi sm xm pm dn/40"
      />
    </div>

    <button class="vd rj ek rc rg gh lk ml il _l gi hi">
      Sign Up
    </button>

    <p class="sj hk xj rj ob">
      Already have an account?
      <a class="mk" href="{% url 'signin' %}"> Sign In </a>
    </p>
  </form>