{% extends "admin/base_site.html" %}
{% load compress %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://js.stripe.com/v3/"></script> <!-- new -->
    <script src="{% static 'main.js' %}"></script>
    <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endcompress %}
    <link href="{% static 'path/to/your/tailwind/output.css' %}" rel="stylesheet">
    {% if DEBUG %}
    <script src="http://127.0.0.1:8080/livereload.js?snipver=1"></script>
    {% endif %}
    <script defer src="{% static 'js/bundle.js' %}"></script></body>
    {% include "signup.html" %}
{% endblock %}
