{% load compress %}
{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Google Auth & Django Tailwind css">
    <meta name="author" content="Amine Benkadi">
    <title>{% block title %}Google Auth | Base - Tailwind CSS Startup Template{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    
	{% block css %}
    
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

    <!-- Your stuff: Third-party CSS libraries go here -->
    
	{% compress css %}
	<link rel="stylesheet" href="{% static 'css/output.css' %}">
  	{% endcompress %}

    <!-- This file stores project-specific CSS -->
    
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    
    
    {% endblock %}
	
	    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      
      <!-- Bootstrap JS and its dependencies-->
      <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- Your stuff: Third-party javascript libraries go here, Line 42--> 
      <script src="https://accounts.google.com/gsi/client" async defer></script> <!-- NEW -->
	  <script src="https://js.stripe.com/v3/"></script> <!-- new -->
	  <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
	  {% if DEBUG %}
  		<script src="http://127.0.0.1:8080/livereload.js?snipver=1"></script>
  	  {% endif %}
      <!-- place project specific Javascript in this file -->
      
      <script defer src="{% static 'js/project.js' %}"></script>
	  <script src="{% static 'main.js' %}"></script>
	  <script defer src="{% static 'js/bundle.js' %}"></script></body>

    {% endblock javascript %}
 
</head>
  <body
    x-data="{ page: 'home', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'b eh': darkMode === true}"
  >



  {% block navbar_and_header %}

 		{% include "sections/_navbar.html" %} 

  {% endblock navbar_and_header %}

 
{% block content %}
	<div class="relative isolate px-6 pt-14 lg:px-8">
	{% block inner %}

		 <!-- ====== Messages ===== -->
		 {% if messages %}
		 {% for message in messages %}
			 <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
			 {{ message }}
			 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				 <span aria-hidden="true">&times;</span>
			 </button>
		 </div>
		 {% endfor %}
	 {% endif %}
 
	 {% if not request.user.is_authenticated %}
	   <div id="g_id_onload"
		 data-client_id="{{ GOOGLE_CLIENT_ID }}"
		 {% comment %} data-login_uri="{% url 'google_login_by_token' %}" {% endcomment %}
		 data-login_uri="http://localhost:8000{% url 'users:google-one-tap-login' %}">
	   </div>
 
		 
	   
	 {%endif%}


	{% endblock inner %}
	</div>
{% endblock content %}

{% block footer %}
	{% include "sections/_footer.html" %}
{% endblock footer %}

{% block modal %}{% endblock modal %}

{% block inline_javascript %}
	<script>
			//  Pricing Table
			const setup = () => {
			  return {
				isNavOpen: false,
	  
				billPlan: 'monthly',
	  
				plans: [
				  {
					name: 'Starter',
					price: {
					  monthly: 29,
					  annually: 29 * 12 - 199,
					},
					features: ['400 GB Storaget', 'Unlimited Photos & Videos', 'Exclusive Support'],
				  },
				  {
					name: 'Growth Plan',
					price: {
					  monthly: 59,
					  annually: 59 * 12 - 100,
					},
					features: ['400 GB Storaget', 'Unlimited Photos & Videos', 'Exclusive Support'],
				  },
				  {
					name: 'Business',
					price: {
					  monthly: 139,
					  annually: 139 * 12 - 100,
					},
					features: ['400 GB Storaget', 'Unlimited Photos & Videos', 'Exclusive Support'],
				  },
				],
			  };
			};
		  </script>
{% endblock inline_javascript %}
</html>