
{% extends "_base.html" %} 

{% block playground %}
<!-- ===== Header End ===== -->
<main>
  {% block hero %}
    {% include "sections/_hero.html" %}
  {% endblock hero %}

  {% block small_features %}
    {% include "sections/_small_features.html" %}
  {% endblock small_features %}

  {% block about %}
    {% include "sections/_about.html" %}
  {% endblock about %}

  {% block team %}
    {% include "sections/_team.html" %}
  {% endblock team %}

  {% block services %}
    {% include "sections/_services.html" %}
  {% endblock services %}


  {% block pricing %}
    {% include "sections/_pricing.html" %}
  {% endblock pricing %}

  {% block projects %}
    {% include "sections/_projects.html" %}
  {% endblock projects %}

  {% block testimonials %}
    {% include "sections/_counter.html" %}
  {% endblock testimonials %}

  {% block counter %}
    {% include "sections/_counter.html" %}
  {% endblock counter %}

  {% block contant_us %}
    {% include "sections/_contact_us.html" %}
  {% endblock contant_us %}

  {% block CTA %}
    {% include "sections/buttons/_cta.html" %}
  {% endblock CTA %}



</main>

{% include "sections/buttons/_back_to_start.html" %}

{% endblock playground %}
