
{% extends "_base.html" %}
{% load static i18n %}


{% block content %}

  <!-- ===== SignUp Form Start ===== -->
  <section class="i pg fh rm ki xn vq gj qp gr hj rp hr">

    {% include "utils/_background_shape.html" %}

    <div class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp">
      <!-- Bg Border -->
      <span class="rc h r s zd/2 od zg gh"></span>
      <span class="rc h r q zd/2 od xg mh"></span>

      <div class="rj">
        <h2 class="ek ck kk wm xb">Create an Account</h2>
        <p>Lorem ipsum dolor sit amet, consectetur</p>

        <h3 class="hk yj kk wm ob mc">Sign up with Google</h3>

        {% include "forms/sections/_socials.html" %}

        <span class="i rc sj hk xj">
          <span class="rc h s z/2 nd oe rh tm"></span>
          <span class="rc h q z/2 nd oe rh tm"></span>

          Or, sign up with your email
        </span>
      </div>
      {% include "forms/_sign_up_form.html" %}
    </div>
  </section>
  <!-- ===== SignUp Form End ===== -->
{% endblock content %}


