
{% extends "_base.html" %}
{% load static i18n %}


{% block content %}

  <!-- ===== SignUp Form Start ===== -->
  <section class="i pg fh rm ki xn vq gj qp gr hj rp hr">

    {% include "utils/_background_shape.html" %}

    <div class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp">
      <!-- Bg Border -->
      <span class="rc h r s zd/2 od zg gh"></span>
      <span class="rc h r q zd/2 od xg mh"></span>

      <div class="rj">
        <h2 class="ek ck kk wm xb">Create an Account</h2>
        <p>Lorem ipsum dolor sit amet, consectetur</p>

        <h3 class="hk yj kk wm ob mc">Sign up with Google</h3>

        {% include "forms/sections/_socials.html" %}

        <span class="i rc sj hk xj">
          <span class="rc h s z/2 nd oe rh tm"></span>
          <span class="rc h q z/2 nd oe rh tm"></span>

          Or, sign up with your email
        </span>
      </div>
      {% include "forms/_sign_up_form.html" %}
    </div>
  </section>
  <!-- ===== SignUp Form End ===== -->
{% endblock content %}


<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? FUCK YOU Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>