{% extends "_base.html" %}
{% load static i18n%}

{% block content %}



  <!-- ===== SignIn Form Start ===== -->
  <section class="i pg fh rm ki xn vq gj qp gr hj rp hr">
    <!-- Bg Shapes -->
    <img src="{% static 'images/shape-06.svg' %}" alt="Shape" class="h j k" />
    <img src="{% static 'images/shape-03.svg' %}" alt="Shape" class="h l m" />
    <img src="{% static 'images/shape-17.svg' %}" alt="Shape" class="h n o" />
    <img src="{% static 'images/shape-18.svg' %}" alt="Shape" class="h p q" />

    <div class="animate_top bb af i va sg hh sm vk xm yi _n jp hi ao kp">
      <!-- Bg Border -->
      <span class="rc h r s zd/2 od zg gh"></span>
      <span class="rc h r q zd/2 od xg mh"></span>

      <div class="rj">
        <h2 class="ek ck kk wm xb">Sign in to your Account</h2>
        <p></p>

        <h3 class="hk yj kk wm ob mc">Sign in with Google</h3>
        {% include "forms/sections/_google_svg.html" %}

        <span class="i rc sj hk xj">
          <span class="rc h s z/2 nd oe rh tm"></span>
          <span class="rc h q z/2 nd oe rh tm"></span>

          Or, sign in with your email 
        </span>
      </div>

      {% include "forms/_sign_in_form.html" %}
    </div>
  </section>
  <!-- ===== SignIn Form End ===== -->


{% endblock content %}